.w{width:930px;margin:0 auto;}
.xinpbox{height:982px;}
.xinpbox .zi li a{color:#333;font-size:16px;}
.xinpbox .xiao{width:930px;height:934px;margin-top:15px;border:1px solid #ccc;}
.xinpbox .xiao .mt{width:618px;height:934px;}
.xinpbox .xiao .mt .mt1{width:618px;height:308px;}
.xinpbox .xiao .mt .mt2{width:618px;height:308px;}
.xinpbox .xiao .mt .mt2 .mt21{width:306px;height:308px;}
.xinpbox .xiao .mt .mt2 .mt22{width:308px;height:308px;}
.xinpbox .xiao .mt .mt3{width:618px;height:310px;}
.xinpbox .xiao .mt .mt3 a{width:306px;height:310px;border:1px solid #ccc;}
.xinpbox .xiao .tj{width:308px;height:934px;}
.xinpbox .xiao .tj .hfcz{width:308px;height:278px;border:1px solid #ccc;background: #fafafa;}
.xinpbox .xiao .tj .hfcz .hfczx{width:248px;height:220px;margin:25px auto;}
.xinpbox .xiao .tj .hfcz .hfczx .hua{font-size:20px;font-weight: bold;}
.xinpbox .xiao .tj .hfcz .hfczx .text{width:227px;height:40px;font-size:14px;padding-left: 15px;color:#ccc;margin-top:15px;}
.xinpbox .xiao .tj .hfcz .hfczx .xl{width:246px;height:40px;font-size:14px;padding-left: 15px;color:#000;margin-top:15px;}
.xinpbox .xiao .tj .hfcz .hfczx .sf{font-size:12px;color:#af836d;margin-top:15px;}
.xinpbox .xiao .tj .hfcz .hfczx .sf span{font-size:16px;color:#666;}
.xinpbox .xiao .tj .hfcz .hfczx .cz{width:246px;height:40px;font-size:12px;color:#fff;margin-top:10px;background: #dcdee4}
.xinpbox .xiao .xwgg{width:308px;height:267px;background: #fafafa;border:1px solid #ccc;}
.xinpbox .xiao .xwgg .xw{width:245px;height:163px;margin:30px auto;}
.xinpbox .xiao .xwgg .xw h2{font-size:17px;color:#333;}
.xinpbox .xiao .xwgg .xw li {width:245px;height:45px;line-height: 45px;border-bottom:1px solid #ccc;}
.xinpbox .xiao .xwgg .xw .last {border-bottom:none}
.xinpbox .xiao .xwgg .xw li a{font-size:12px;color:#333;}
.djxh{height:654px;}
.djxh h2{font-size:18px;}
.djxh .hm{width:930px;height:621px;border:1px solid #ccc;margin-top:15px;}
.djxh .hm .hm1{width:622px;height:621px;}
.djxh .hm .hm1 .hm11{width:622px;height:310px;}
.djxh .hm .hm1 .hm12{width:622px;height:310px;border:1px  solid #ccc;}
.djxh .hm .hm2{width:304px;height:621px;}
.djxh .hm .hm2 .ph{width:302px;height:100px;border:1px solid #ccc;line-height: 100px;text-align: center;font-size:20px;font-weight: bold;}
.djxh .hm .hm2 .ph .hot{color:red;}
.djxh .hm .hm2 .rx{width:302px;height:102px;border:1px solid #ccc;background: url(../img/21.png) no-repeat 227px 20px;}
.djxh .hm .hm2 .rx .one{width:45px;height:30px;color:red;font-size:30px;text-align: center;margin-top:35px;margin-left: 20px;font-weight:bold;}
.djxh .hm .hm2 .rx .two{width:45px;height:30px;color:#6d6d6d;font-size:30px;text-align: center;margin-top:35px;margin-left: 20px;font-weight:bold;}
.djxh .hm .hm2 .rx .yi{width:110px;height:36px;color:#333;font-size:13px;margin-top:35px;}
.djxh .hm .hm2 .rx1{background: url(../img/22.png) no-repeat 227px 20px;}
.djxh .hm .hm2 .rx2{background: url(../img/23.png) no-repeat 227px 20px;}
.djxh .hm .hm2 .rx3{background: url(../img/24.png) no-repeat 227px 20px;}
.djxh .hm .hm2 .rx4{background: url(../img/25.png) no-repeat 227px 20px;}
.rp{height:473px;margin-top:30px;}
.rp h2{font-size:20px;color:#333;}
.rp .hp{width:930px;height:414px;border:1px solid #ccc;margin-top:15px;}
.rp .hp .hp1{width:308px;height:414px;border:1px solid #ccc;}
.rp .hp .hp1 .pj{width:163px;height:53px;margin-left: 30px;margin-top:33px;}
.rp .hp .hp1 .pj li{font-size:12px;color:#333;line-height:19px;font-weight: bold;}
.rp .hp .hp1 .pj .rhp{font-size:12px;color:#333;line-height:19px;font-weight: normal;width:80px;height:14px;background: url(../img/26.png) no-repeat;padding-left:70px;}
.rp .hp .hp1 .mitu{width:289px;height:257px;margin-top:60px;margin-left: 10px;position:relative;}
.rp .hp .hp1 .mitu .mt{width:117px;height:182px;position:absolute;left:86px;top:0;}
.rp .hp .hp1 .mitu .js{width:259px;height:40px;background: #f3f3f3;position:absolute;left:0;bottom:0;font-size:12px;line-height: 18px;color:#816d96;padding:10px 15px;display: none;}
.rp .hp .hp1 .mitu:hover .js{display: block;}
.tj{height:373px;}
.tj h2{font-size:20px;color:#333;}
.tj .sheng{width:930px;height:312px;margin-top:15px;}
.tj .sheng img{border:1px solid #ccc;}
.dk{height:475px;}
.dk h2{width:930px;font-size:20px;color:#333;}
.dk .ts{width:930px;height:413px;margin-top:15px;}
.dk .ts .ts1{width:308px;height:413px;border:1px solid #ccc;}
.dk .ts .ts1 .cy{width:255px;height:55px;line-height: 20px;font-size:12px;margin-top:15px;margin-left:25px;}
.dk .ts .ts1 .zhu{width:288px;height:267px;position:relative;margin-top:55px;}
.dk .ts .ts1 .zhu .xz{position:absolute;left:68px;top:0;}
.dk .ts .ts1 .zhu .wz{width:242px;height:40px;position:absolute;left:10px;bottom:0;background: #f3f3f3;padding-top:10px;padding-left:15px;padding-right:25px;font-size:12px;color:#333;display:none;}
.dk .ts .ts1 .zhu:hover .wz{display:block;}
.miui .ts .ts1{height:333px;}
.miui .ts .ts1 .cy{margin-top:33px;margin-left:30px;}
.miui .ts .ts1 .cy .li{color:#333;}
.miui .ts .ts1 .cy li .mb{color:#333;text-decoration: line-through;}
.miui .ts .ts1 .zhu .xz{position:absolute;left:30px;top:-50px;}
.miui .ts .ts1 .zhu .xz{position:absolute;left:30px;}

.footer{width:100%;height:498px;background: #f3f3f3;padding-top:45px;}
.footer .kx{width:861px;height:73px;margin:0 auto;}
.footer .kx .fw{width:109px;height:70px;margin-left:76px;}
.footer .kx .first{margin-left:0px;}
.footer .kx .fw .fwt{width:36px;height:36px;background: url(../img/33.png) no-repeat 0 0;margin-left: 35px;margin-bottom:16px;}
.footer .kx .fw .fw1{color:#000;font-size:15px;text-align: center;}
.footer .kx .fw .t1{background-position:-187px 0;}
.footer .kx .fw .t2{background-position:-375px 0;}
.footer .kx .fw .t3{background-position:-550px 0;}
.footer .kx .fw .t4{background-position:-746px 0;}
.footer .bz{height:200px;border-top:1px solid #ccc;;border-bottom:1px solid #ccc;margin-top:40px;}
.footer .bz .bzzx{width:150px;height:122px;margin-top:40px;border-left:1px solid #ccc;}
.footer .bz .z1{border-left:none;}
.footer .bz .bzzx .gw{width:77px;height:107px;margin-left:20px;}
.footer .bz .bzzx .gw li{line-height: 25px;}
.footer .bz .bzzx .gw li a{font-size:12px;color:#6d6d6d; }
.footer .bz .bzzx .gw .zx a{font-size:18px;color:#000;}
.footer .bz .dian{width:170px;height:127px;border-left:1px solid #ccc;border-left:1px solid #ccc;margin-top:40px;}
.footer .bz .dian .hua{width:158px;height:117px;margin-left:15px;}
.footer .bz .dian .hua .zx{font-size:20px;color:#000;font-weight:bold;}
.footer .bz .dian .hua li{font-size:12px;color:#6d6d6d;line-height:20px;}
.footer .bz .dian .hua .last{width:120px;height:30px;background: #f00;margin-left:10px;margin-top:20px;text-align: center;line-height: 30px;}
.footer .bz .dian .hua .last a{font-size:12px;color:#fff;}
.footer .wz{height:40px;margin-top:40px;}
.footer .wz .xmw{width:692px;height:40px;}
.footer .wz h3{font-size:12px;color:#333;margin-top:3px;}
.footer .wz li a{font-size:12px;color:#333;padding-left:5px;padding-right:5px;border-right:1px solid #333;}
.footer .wz p{font-size:12px;color:#333;line-height: 20px;}
.footer .wz .zt{width:190px;height:40px;font-size:12px;color:#333;padding-left:10px;}
.footer .foot{width:163px;height:20px;margin-top:25px;}
.footer .foot .foot1{width:54px;height:20px;background: url(../img/34.png) no-repeat;}
.footer .foot .foot2{width:57px;height:20px;background: url(../img/35.png) no-repeat;margin-left: 3px;margin-right: 3px;}
.footer .foot .foot3{width:41px;height:20px;background: url(../img/37.png) no-repeat;}


