
.shisen{height: 356px;}

.sstou{width:100%;min-width:987px; overflow:hidden;height: 61px;}
.sstou1{height:55px;}
.sstou2{width:77px;height:30px;  font-size:19px;padding-top:25px;float:left;}
.sstou3{width:77px;height:30px;  font-size:19px;padding-top:25px;float:left;margin-left:602px;}

.ssboss{height:282px;border:1px solid #e4e4e4; }
.ssheng{width:240px;height:280px;border:1px solid #e4e4e4; text-align:center;float:left;}
.ssheng span{font-size:12px;color:#666; display:block;}
.ssheng p{font-size:12px;color:#e12228;  font-weight:bold;}
.ssheng img{width:180px;height:180px;margin-top:34px;}

.ssquan{width:440px;height:280px;border:1px solid #e4e4e4;float:left; overflow:hidden;}
.ssquan1{width:215px;height:135px;border:1px solid #e4e4e4;float:left; }
.ssquan1-1{width:100px;height:100px;margin-top:20px;float:left;margin-left:5px;}
.ssquan1-2{width:109px;height:55px; margin-top:20px;float:left;}
.ssquan1-2 i{font-size:12px;color:#666;}
.ssquan1-2 span{font-size:12px;color:#e12228;font-weight:bold;}

.ssquan2{width:221px;height:135px;border:1px solid #e4e4e4;float:left;}
.ssquan2-1{width:100px;height:100px;margin-top:20px;float:left;margin-left:5px;}
.ssquan2-2{width:105px;height:55px; float:left;margin-top:20px;}
.ssquan2-2 i{font-size:12px;color:#666;}
.ssquan2-2 span{font-size:12px;color:#e12228;font-weight:bold;}

.ssquan3{width:215px;height:141px;border:1px solid #e4e4e4;float:left;}
.ssquan3-1{width:100px;height:100px;margin-top:20px;float:left;margin-left:5px;}
.ssquan3-2{width:109px;height:55px; float:left;margin-top:20px;}
.ssquan3-2 i{font-size:12px;color:#666;}
.ssquan3-2 span{font-size:12px;color:#e12228;font-weight:bold;}

.ssquan4{width:221px;height:141px;border:1px solid #e4e4e4;float:left;}
.ssquan4-1{width:100px;height:100px;margin-top:20px;float:left;margin-left:5px;}
.ssquan4-2{width:109px;height:55px; float:left;margin-top:20px;}
.ssquan4-2 i{font-size:12px;color:#666;}
.ssquan4-2 span{font-size:12px;color:#e12228;font-weight:bold;}




.ssyi{width:301px;height:280px;border:1px solid #e4e4e4;float:left;}
.ssyi1{width:301px;height:139px;border:1px solid #e4e4e4;}
.ssyi1-1{width:100px;height:100px;margin-top:20px;margin-left:5px;float:left;}
.ssyi1-2{width:180px;height:110px;float:left; background:url(img/ss%20xiaoren.png)no-repeat;margin-top:24px; text-align:center;}
.ssyi1-2-1{width:160px;height:50px;margin-top:20px;margin-left:15px;background:#f8f8f8;}
.ssyi1-2 span{font-size:14px;}

.ssyi2{width:302px;height:139px;}

.ssyi2-1{width:100px;height:100px;margin-top:20px;margin-left:5px;float:left;}
.ssyi2-2{width:180px;height:110px;float:left; background:url(img/juhua.png)no-repeat;margin-top:24px; text-align:center;}
.ssyi2-2-1{width:160px;height:50px;margin-top:20px;margin-left:15px;background:#f8f8f8;}
.ssyi2-2 span{font-size:14px;}